/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

:root {
    --blue-color: #005691;
    --litewhite-color: #E8F1F5;
    --white-color: #FAFAFA;

    --font: 'Lato', sans-serif;
}
/* custom scrollbar */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: var(--litewhite-color);
}
::-webkit-scrollbar-thumb{
    background: var(--blue-color);
    border-radius: 50px;
}

/* custom mouse select colour */
::selection {
    background-color: var(--blue-color);
    color: var(--white-color);
}
body{
	background: var(--litewhite-color);
}

.main-container{
	display: flex;
	justify-content: center;
}

.card{
	margin-top: 50px;
	width: 800px;
	border: none;
	border-radius: 15px;
	margin-bottom: 50px;
}

/* header */
.header{
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background: var(--blue-color);
	border-radius: 15px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.header i{
	color: var(--white-color);
	font-size: 16px;
}
.header span{
	color: var(--white-color);
	font-size: 18px;
	font-family: var(--font);
}

/* chat */
/* person one */
.person-one{
	display: flex;
	justify-content: left;
	padding: 20px;
}
.person-one-msg{
	border: none;
	background: var(--blue-color);
	font-family: var(--font);
	font-size: 16px;
	color: var(--white-color);
	border-radius: 20px;
	margin-left: 10px;
	padding: 20px;
}
.person-one img{
	width: 40px;
	height: 40px;
}
/* person-two */
.person-two{
	display: flex;
	justify-content: right;
	padding: 20px;
}
.person-two-msg{
	border: 1px solid var(--blue-color);
	font-family: var(--font);
	font-size: 16px;
	color: var(--blue-color);
	border-radius: 20px;
	margin-right: 10px;
	padding: 20px;
}
.person-two img{
	width: 40px;
	height: 40px;
}

/* message */
.message{
	display: flex;
	padding: 20px;
}
.msg-input{
	border-radius: 12px;
	border: 1px solid var(--blue-color);
	font-size: 18px;
	font-family: var(--font);
	height: auto;
}
.msg-input:focus{
	box-shadow: none;
	color: var(--blue-color);
}
.msg-input::placeholder{
	font-size: 18px;
	color: var(--blue-color);
	font-family: var(--font);
} 
.send-btn{
	border-radius: 12px;
	background-color: var(--blue-color);
	color: var(--white-color);
	font-family: var(--font);
	font-size: 18px;
	text-transform: uppercase;
}
.send-btn:hover{
	background-color: var(--blue-color);
	color: var(--white-color);
}